<section id="footer" class="section">
  <div class="contain-outer margin-left-right__xs-plus">
    <div class="inner">
      <div class="block"><p><a href="/shipping-and-returns" style="color: #CC3333; font-weight: bold;">Shipping & Returns</a></p></div>
      <img src="/user/themes/bodigiti/images/accepted-payment-methods-300x34.png" />
      <div id="local-info-nap-etc" class="block">
        <div itemscope="" itemtype="http://schema.org/LocalBusiness">
        <div itemprop="name" class="nap-name">Colors N Creme</div>
        <link itemprop="url" href="http://earthsourcejax.com/">

        <link itemprop="hasMap" href="https://goo.gl/maps/saqfUkGKW172">
        <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress" class="nap-full-address">
        <div itemprop="streetAddress" class="nap-street">P.O. Box 6842</div>
        <div class="nap-pipe-break">|</div>
        <div class="nap-city-state">
        <span itemprop="addressLocality">Jacksonville &nbsp;</span>
        <span itemprop="addressRegion">FL&nbsp;</span>
        </div>
        <div itemprop="postalCode" class="nap-zip">32236</div>
        <a itemprop="telephone" href="tel:+1904-405-6539" class="nap-phone">(904) 405-6539</a>

        </div>
        <span itemprop="geo" itemscope="" itemtype="http://schema.org/GeoCoordinates">
        <meta itemprop="latitude" content="30.322410">
        <meta itemprop="longitude" content="-81.461280">
        </span>
        </div>
        </div>

      <p class="">Copyright &copy; 2019 All rights reserved.  |  Website designed by <a href="https://bodigiti.com/" style="color: #CC3333; font-weight: bold;">Bodigiti</a></p>
    </div>
  </div>
</section>
